NEXT_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_CLOAK_RELAY_URL=https://api.cloak.ag
NEXT_PUBLIC_USE_DEMO_MODE=true
NEXT_PUBLIC_ORG_NAME=CloakPay Demo DAO
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
CLOAK_RELAY_URL=https://api.cloak.ag
CLOAKPAY_USE_DEMO_MODE=true
CLOAKPAY_STATE_FILE=.data/cloakpay-state.json
CLOAK_TREASURY_KEYPAIR_PATH=
CLOAK_TREASURY_SECRET_KEY_JSON=
CLOAK_USDC_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
CLOAK_USDT_MINT=Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
CLOAK_VIEWING_KEY_NK_HEX=
